<!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. Tamplatedan foydalanib backend yozildi
    </div>
    <div class="credits">
     
      Muallif <a href="https:t.me/+998913195959">Rahmatullayev Jo'rabek</a>
    </div>
  </footer><!-- End Footer -->