<!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/workers">
          <i class="bi bi-person"></i>
          <span>Xodimlar</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/groups">
          <i class="bi bi-question-circle"></i>
          <span>Guruhlar</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/settings">
          <i class="bi bi-envelope"></i>
          <span>Settings</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admins">
          <i class="bi bi-card-list"></i>
          <span>Admins</span>
        </a>
      </li><!-- End Register Page Nav -->

      <form action="/admin/logout" method="post">
        <button class="btn btn-danger ms-3">Logout</button>
      </form>

      

    </ul>

  </aside><!-- End Sidebar-->